
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}
.app{
  margin-left:70px ;
  margin-right: 70px;
}
a{
  text-decoration: none;
  color: none;
  scroll-behavior: smooth;
}
@keyframes FadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes slide{
  0%{
    transform: translateX(-30px);
  }
}
@keyframes slidey{
  0%{
    transform: translateY(-30px);
  }
  
}
@media (max-width:450px){
  .app{
    margin-left: 1px;
    margin-right: 1px;
  }
}