.Navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.Navbar ul li{
    list-style: none;
}
.Navbar ul li img{
    width: 80%;
}